body {
    display: grid;
    grid-template-rows: 500px 1fr;
    grid-template-columns: 100px 1fr 100px;
}
div{
    grid-row: 2;
    grid-column: 2;
    margin: auto;
}
header {
    text-align: center;
    background: url("https://i.imgur.com/GIBUP7Q.jpg");
    background-size: cover;
    color: white;
    grid-row: 1;
    grid-column: 1 / span 3;
}
a {
    color: white;
}
h1 {
    font-size: 70px;
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px;
    border-radius: 20px;
}
.posted-pic {
    height: auto;
    width: auto;
    max-width: 540px;
}
ul {
    padding: 10px;
    background: rgba(20,200,200,0.5);
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article {
    max-width: 600px;
    padding: 10px 0px 20px 0px;
    background: rgba(0,0,0,0);
    text-align: center;  
}
p {
    margin: 10px 0px -15px 0px;
}
@media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
}