*{margin:0;}
body {
    display: grid;
    grid-template-rows: 450px 1fr 400px;
    grid-template-columns: 120px 1fr 120px;
}
div{
    grid-row: 2;
    grid-column: 2;
    margin: 0 auto;
    margin-top: 20px;
}
header {
    text-align: center;
    background: url("https://i.imgur.com/GIBUP7Q.jpg");
    background-size: cover;
    color: white;
    grid-row: 1;
    grid-column: 1 / span 3;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color:grey;
    color:white;
    text-align:center;
    height: 30px;
    padding: 3px 3px 0px 3px;
}
a {
    color: white;
}
h1 {
    font-size: 70px;
}
h3{
    margin: 3px auto;
}
img {
    margin: 12px 0px 0px 0px;
    border: 7px;
    border-radius: 20px;
}
.posted-pic {
    height: auto;
    width: auto;
    max-width: 540px;
}
ul {
    padding: 10px;
    background: rgba(20,200,200,0.5);
    margin: 40px 0px 20px 0px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article {
    max-width: 600px;
    padding: 10px 0px 10px 0px;
    background: rgba(0,0,0,0);
    text-align: center;  
}
p {
    margin: 8px 0px 4px 0px;
}
/* Submit Form */
.contact-me {
    font-family:helvetica;
    background: url("https://i.imgur.com/NB2WZDC.jpg?1");
    background-size: cover;
    width:100%;
    text-align:center;
    color:White;
    grid-row: 3;
    grid-column: 1 /span 3;
    padding:10px 0px 50px 0px;
}
form{
    background: #094663;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 0;
    max-width: 400px;
    margin: 15px 15px 15px auto;
    /* border: 2px solid red; */
}
input[type=text] {
    width: 60%;
    padding: 10px 10px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    text-align:right;
}
#email{
    margin-left:36px;
}
#inquiries{
    margin-left:15px;
}
input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
}
/* End: Submit Form */
/* Test scripts */
/* .test{
    border: 2px solid red;
    grid-row: 2;
    grid-column: 1; */
}
/* End test scripts */
@media (max-width: 500px) {
    h1 {
      font-size: 36px;
      padding: 5px;
    }
    li {
      padding: 5px;
      display: block;
    }
}